*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    color: blueviolet;
    font-family: serif;
    margin-bottom: 10px;
}

#page-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-size: 18px;
    font-family: monospace;
}

#main-nav {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}

#main-nav .blog {
    background-color: red;
}